---
import Layout from "../layouts/Layout.astro";
import {Image} from 'astro:assets';
import headshot from "../assets/headshot.webp";
import GitHub from "../assets/icons/github.svg";
import LinkedIn from "../assets/icons/linkedin.svg";
---

<Layout
        title="My Portfolio - Home"
        description="The home page for my portfolio"
>
    <div class="flex flex-col-reverse md:flex-row items-center gap-20">

        <!-- Section one: header, paragraph, social media links -->
        <div class="flex-1">
            <!-- Title -->
            <h2 class="text-3xl font-bold tracking-tight leading-tight">
                Hey there, I’m
            </h2>
            <h1 class="text-6xl font-bold mb-6 tracking-tight leading-tight text-primary whitespace-nowrap">[Your
                Name]</h1>

            <!-- Paragraph -->
            <p class="text-lg text-base-content/80 max-w-3xl mb-6">
                This is a clean and modern portfolio template built with students in mind.
                It's designed to help you showcase your work, highlight your skills, and present your experience in a
                polished,
                professional way. Use it as a foundation and customize it to reflect your unique style and projects.
            </p>

            <!-- Social Media Buttons -->
            <div class="flex flex-wrap gap-4">
                <a href="https://github.com/sam-packer"
                   target="_blank"
                   class="btn btn-lg btn-primary"
                   aria-label="GitHub" title="GitHub">
                    <GitHub width={32} height={32} fill="currentColor"/>
                </a>
                <a href="https://www.linkedin.com/in/samuel-packer/"
                   target="_blank"
                   class="btn btn-lg btn-primary"
                   aria-label="LinkedIn"
                   title="LinkedIn"
                >
                    <LinkedIn width={32} height={32} fill="currentColor"/>
                </a>
            </div>
        </div>

        <!-- Section 2: Headshot photo of yourself
        Tip: You can put this before the Section 1 comment to move the image to the left -->
        <div class="flex-shrink-0">
            <Image
                    src={headshot}
                    alt="Portrait of [Your Name]"
                    class="w-48 h-48 md:w-72 md:h-72 object-cover mask mask-circle shadow-md"
            />
        </div>
    </div>
</Layout>

