---
const { title, company, dates, location } = Astro.props;
---

<div class="bg-base-200 p-4 rounded-xl shadow-sm">
    <div class="flex flex-col gap-1">
        <h2 class="text-xl font-semibold text-secondary">{title}</h2>
        <p class="text-lg text-base-content/80">{company}</p>
        <p class="text-sm text-base-content/60 italic">
            {dates} • {location}
        </p>
    </div>
</div>
