<nav class="bg-base-100 shadow-md">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center h-16">
            <div class="flex">
                <a href="/" class="btn btn-ghost text-base font-medium">Home</a>
                <a href="/experience" class="btn btn-ghost text-base font-medium">Experience</a>
                <a href="/projects" class="btn btn-ghost text-base font-medium">Projects</a>
            </div>
        </div>
    </div>
</nav>
