---
const { title, description } = Astro.props;
---

<div class="bg-base-200 p-4 rounded-xl shadow-sm">
    <h2 class="text-lg font-semibold text-secondary">{title}</h2>
    <p class="text-base-content/80">{description}</p>
</div>
